<h1>Start IDs </h1>

<table class="table">
  <tr>
    <td>Genes ID</td><td><%= @maxid_genes %></td>
  </tr>
  <tr>
    <td>Gattributes ID</td><td><%= @maxid_attributes %></td>
  </tr>
  <tr>
    <td>Transcripts ID</td><td><%= @maxid_transcripts %></td>
  </tr>
  <tr>
    <td>Tattributes ID</td><td><%= @maxid_tattributes %></td>
  </tr>
  <tr>
    <td>Transcript Seqs ID</td><td><%= @maxid_transc_seqs %></td>
  </tr>
  <tr>
    <td>Summary</td>
    <td><%= @maxid_genes %> <%= @maxid_attributes %> <%= @maxid_transcripts %> <%= @maxid_tattributes %> <%= @maxid_transc_seqs %></td>
  </tr>
  </tr>
</table>

<br>

