
<body>

<h1>NCBI Blast to Genes/Proteins</h1>

  Project ID:
  <%= @project_id %>
  <%= @candidatedb_selected %>

  <%= form_with( model: Dbpath, url:{controller: "blast", action: "blastout"}) do |f| %>

  Program:
    <select name="blasttype" id="name_blasttype">
      <option value="blastn"> BlastN: query = Nucleotide, db = Nucleotide </option>
      <option value="blastp"> BlastP: query = Protein, db = Protein </option>
      <option value="blastx"> BlastX: query = Nucleotide, db = Protein </option>
      <option value="tblastn"> tBlastN: query = Protein, db = Nucleotide </option>
      <option value="tblastx"> tBlastX: query = Nucleotide, db = Nucleotide </option>
    </select>

    <%= f.label :db_path, "Database:" %>
    <%= f.collection_select( :db_path, @dbpaths, :sequence_type, :sequence_type, selected: @candidatedb_selected  ) %>

    <br>

    <textarea name="query_sequence" id="query_sequence" cols="40" rows="10">
    </textarea>
    <br>
    <br>
    evalue: <input type="text" name="evalue" id="evalue" value="1e-10" size="1">
    <br>


    num_alignments: <input type="text" name="num_alignments" id="num_alignments" value="30" size="1"><br>
    num_descriptions: <input type="text" name="num_descriptions" value="30" size="1"><br>
    <input type="hidden" name="project_id" id="project_id" value=:project_id><br>
    <%= submit_tag("Click") %>

  <% end %>


<pre>
>sample_query_4_olati_chr5
CAAAATTTTAAATTCTACAAAGGCGCGACGGGCACCTTTTAATCTCTCTGAGGACCTTCT
TAAAGCGGTGATTGTAGGAAATTCGCTGCTACGACTAAGAAACAAGAGAAAGAGCAAACA
ATAATTTGTGATTACAGAGTTTCTGTGCGACCCGATTAATTATTTGGACTAGAAATACTA
TTTTGAGTTACCCTGCCATAGCCTGTAACAATATAGCTCTTTGGAAAAGTCGACCGCCTT
ATGAGTTGTTGTTTGCGGGGTGGGAATTATCCCCATTACCCAGCTAGTTAGCTAGCGAAA
GGCGCTAGGCTAACTTGCTAACTAACGTGAAGTGCAGCTGTTCGGCAGTATTTCACGCAT
CATTTCAACTGA
</pre>

<br>
<pre>
>ENSORLT00020031919.1 cdna primary_assembly:ASM223471v1:8:14330691:14330996:1 gene:ENSORLG00020012716.1 gene_biotype:IG_V_gene transcript_biotype:IG_V_gene
GGACAGACTCTGACTGAGTCTGAATCTGTGGTTAAAAGACCTGGAGAATCCCACAGACTG
ACCTGTTCAGCCTCTGGATTCACTTTCAGCAGCTATCACATGGGCTGGGTCAGACAGGCT
CCTGGAAAAGGACTGGAATGGATTGCTTGGATCCAGACTGGCAGCAGCTACATCTACTAC
TCAGAGTCAGTGAAAAACCGTTTCACAATCTCCAGAGACGACAGCAGACAGCAGCTGTAT
CTGCAGATGAACAGTCTGAGAGCTGAGGATTCTGCTGTTTATTACTGTGCGAGAGACACA
CAGTGA
</pre>


</body>
