
<table>
<tr><th>Catalog</th><td></td><td></td></tr>

<% @galleries.each do |gallery| %>

  <table class=wTable2 >
    <tr>
      <th>Project ID</th>
      <td><%= gallery.id %></td>
    </tr>
    <tr>
      <th>Scientific Name</th>
      <td><i><%= gallery.species_name %></i></td>
    </tr>
    <tr>
      <th>Common Name</th>
      <td><%= gallery.common_name %></td>
    </tr>
    <tr>
      <th>Image</th>
      <td><%= gallery.image_link %></td>
    </tr>
    <tr>
      <th>Version</th>
      <td><%= gallery.version %></td>
    </tr>
    <tr>
      <th>Link</th>
      <td><%= link_to "Viewer", galleries_viewer_path(id: gallery.id, link: gallery.url_link) %></td>
    </tr>
    <tr>
      <th>Sort Num.</th>
      <td><%= gallery.sort_number %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= gallery.description %></td>
    </tr>
    <tr>
      <th></th>
      <td><a href="/galleries/<%= gallery.id %>">SHOW</a>
          <%= link_to "EDIT", edit_gallery_path(gallery) %></td>
    </tr>
  </table>
  
  </tr>
<% end %>

</table>
