
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "RF Genome Browser", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if params[:project_id] %>
          <li><%= link_to "Home",    root_path(project_id: params[:project_id]) %></li>
          <li><%= link_to "Gallery", galleries_catalog_path(project_id: params[:project_id]) %></li>
          <li><%= link_to "Search",  search_path(project_id: params[:project_id]) %></li>
          <li><%= link_to "About",   about_path(project_id: params[:project_id]) %></li>
          <li><%= link_to "Help",    help_path(project_id: params[:project_id])  %></li>
          <li><%= link_to "Contact", contact_path(project_id: params[:project_id]) %></li>
        <% else %>
          <li><%= link_to "Home",    root_path  %></li>
          <li><%= link_to "Gallery", galleries_catalog_path %></li>
          <li><%= link_to "Search", search_path(project_id: params[:id] ) %></li>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Help",    help_path  %></li>
          <li><%= link_to "Contact", contact_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
